.header_menu {
  display: flex;
  list-style-type: circle;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 43px;
  padding-left: 12px;
  width: 100%;
  padding: 0;
}

.header_menu_head a {
  text-decoration: none;
}

.header_menu_head {
  list-style-type: none;
}

.logo {
  margin-right: 160px;
  max-width: 148px;
  max-height: 105px;
}

.header__links-list {
  margin-left: 32px;
}

header {
  display: flex;
  max-width: 93%;
  margin-left: 51px;
  margin-top: 92px;
  justify-content: space-between;
}

.address {
  display: inline-flex;
  flex-direction: column;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  margin-top: 5px;
}

.address_header {
  max-width: 240px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  position: relative;
  z-index: 3;
  background-position: center center;
}

.overlay {
  position: absolute;
  display: block;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover__tittle {
  display: flex;
  position: relative;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 165px;
  margin-left: 50px;
  flex-direction: column;
}

.aligned-text {
  display: inline-flex;
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 100px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 88.9%;
  margin-left: 50px;
  line-height: 100%;
}

.letter-spacing-extended {
  display: inline-flex;
  letter-spacing: 60px;
}

.initial-letter-spacing {
  letter-spacing: 30px;
  line-height: 100%; /* 100px */
}

.aligned-text_right {
  display: inline-flex;
  margin-right: 20px;
  letter-spacing: 60px;
  justify-content: end;
  margin-top: 20px;
  line-height: 100%;
}

.cover__description {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  display: inline-flex;
  max-width: 70%;
  z-index: 2;
  margin-top: 135px;
  margin-left: 422px;
  margin-bottom: 50px;
}

.cover__description-text {
  display: inline-flex;
  max-width: 633px;
  position: relative;
  z-index: 1;
  align-items: center;
  word-spacing: 17px;
}

.bet-button {
  display: inline-flex;
  margin-left: 82px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  height: 52px;
  width: 257px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}

.lots {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
}

.lots_heading {
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.lots__look-more-link {
  display: flex;
  margin-left: 40px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-link {
  display: flex;
  text-decoration: none;
}

.card-text {
  display: flex;
  position: relative;
  padding: 0px 40px 50px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 120%; /* 24px */
}

.card__title {
  display: inline-flex;
  position: relative;
  color: #fff;
  line-height: 120%; /* 26.4px */
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  max-width: 82%;
  margin-left: 40px;
  margin-top: 50px;
}

.card-img__movie {
  background-image: url(../images/card-lot-01.jpg);
}

.card-img__book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-img__painting {
  background-image: url(../images/card-lot-03.jpg);
}

.logo-black {
  width: 240px;
  height: 240px;
  margin-left: 95px;
  border-radius: 50%;
  background-image: url(../images/logo-white.png);
  background-color: #000;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center center;
}

.about {
  max-width: 100%;
  display: flex;
  margin-top: 181px;
  margin-left: 50px;
  flex-wrap: wrap;
}

.about-column {
  display: flex;
  margin-left: 120px;
  max-width: 885px;
  margin-top: 100px;
  flex-direction: column;
}

.about__title {
  display: inline-flex;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about-full {
  flex-direction: column;
  display: flex;
  margin-top: 80px;
  padding-top: 20px;
  gap: 25px;
}

.about__text {
  display: inline-flex;
  width: 100%;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  display: flex;
  margin-top: 180px;
  margin-left: 50px;
  max-width: 93%;
  justify-content: space-between;
  margin-bottom: 90px;
}

.footer_menu {
  display: inline-flex;
  list-style-type: none;
  color: #000;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}

.footer__links-list {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.socials {
  gap: 47px;
  display: flex;
  flex-shrink: 0;
}

.footer__social-link {
  display: flex;
  align-items: baseline;
  max-width: 48px;
}
